<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My site</title>

</head>

<body>
    <h1>Welcomme to the text analyazer</h1>
    <h3>Enter your text below:</h3>
    <form action='analyze' method='get'>
    <textarea name="text" style="width: 224px; height: 75px;"></textarea><br>

    <input type="checkbox" name="removepunc">Remove Puncatuations<br>
    <input type="checkbox" name="fullcaps">UPPERCASE<br>
    <input type="checkbox" name="newlineremover">New Line Remover<br>
    <input type="checkbox" name="extraspaceremover">Extra Space Remover<br>
    <button type="submit">Analyaze Text</button>

</body>
</html>